@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

.homepage {
    position: relative;
}

h1 {
    background-color: brown;
    color: cornsilk;
    font-family: 'Roboto', sans-serif;
    font-size: 3em;

}
h3 {
    background-color: cadetblue;
    color: cornsilk;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.5em;
}